mixin blocks(title)
  h2 #{title}
  hr
  block
mixin formGroup()
    .form-group
      .col-md-offset-2.col-md-8
        block
mixin label(title)
  label.control-label.col-md-2 #{title}:
  .col-md-8
    block
mixin formField(label, value)
  label.control-label.col-md-2 #{label}:
  div()&attributes(attributes)
    input.form-control(type="text", ng-model="#{value}", readonly)
.form-horizontal
  +blocks("账户信息")
    +formGroup()
      +formField("企业名称", "account.name")(class="col-md-3")
      +formField("子域名", "account.domain")(class="col-md-3")
    +formGroup()
      +formField("账户状态", "account.status")(class="col-md-3")
      +formField("注册时间", "account.createdAt")(class="col-md-3")
    +formGroup()
      +label('账户描述')
        textarea.form-control(rows='4',ng-model="account.description",readonly)
  +blocks("管理员信息")
    +formGroup()
      +formField("用户名", "account.user.name")(class="col-md-3")
      +formField("昵称", "account.user.nickName")(class="col-md-3")
    +formGroup()
      +formField("邮箱", "account.user.email")(class="col-md-3")
      +formField("手机", "account.user.phone")(class="col-md-3")
