include /lib/mixins/list

.datalist
  +toolbar
    +button_group
      +tool_button("contractsTable.reload()", "refresh", "", "*", "", "")

  +page_table("contractsTable","selection")
    +row("contract", "sn", "selection")
      td(data-title="'合同名称'")
        a(ui-sref="contracts.view(contract)") {{contract.sn}}
      td(data-title="'合同名称'") {{contract.sn}}
      td(data-title="'企业帐户'") {{contract.msuAccount.name}}
      td(data-title="'企业状态'") {{contract.msuStatus | formatContractStatus}}
      td(data-title="'服务商'") {{contract.mspAccount.name}}
      td(data-title="'服务商状态'") {{contract.mspStatus | formatContractStatus}}
      td(data-title="'创建时间'") {{contract.createdAt | formatTime}}
      td(data-title="'更新时间'") {{contract.updatedAt | formatTime}}