//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
		readonly : true | false
+section("字典基本信息")
	+group("dict","code", "字典代码", "star", "字典代码")
		+input("dict","code")(required,ng-change="autoComeplete()",ng-pattern="/^[a-zA-Z0-9]|_|\-|\.]+$/")
	+group("dict", "name", "字典名称", "star", "字典名称")
		+input("dict", "name")(,required,ng-readonly="ngread",ng-pattern="/^[\u4e00-\u9fa5]+$/")
	+group("dict", "display", "显示名", "star", "显示名")
		+input("dict", "display")(required,ng-blur="autoValidate()")
	+group("dict", "val", "值", "star", "值")
		+input("dict", "val")(required)
	+group("selectState", "", "是否开启", "", "")
		select.form-control(ng-model="selectState", ng-options="data.name for data in statedatas", ng-init="selectState = statedatas[0]")
