//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("基本信息")
  +group("role", "name", "角色名称", "user", "角色名")
    +input("role", "name")(type="text", readonly=nameReadonly, required, ng-minlength="4", ng-maxlength="20",
         ng-pattern='/^(ROLE_)([a-zA-Z0-9]|_|\\-|\\.)+$/', ng-check="/api/roles/check/{0}", placeholder="角色名")
  +group("role", "users", "用户", "user", "此角色所包含的用户")
    div#role_users(multi-select, input-model="users", button-label="username", item-label="username", tick-property="ticked")
  +group("role", "description", "描述", "edit", "角色说明")
    +area("role", "description")(readonly=readonly)
