//- include the form mixins
include /lib/mixins/form

+form("allowLoginForm")(ng-submit="allowLogin()")
  include /msp/index/contracts/_user_form.jade

  +action_bar
    +action_submit("绑定")
    +action_cancel("取消")(ui-sref="contracts.my-list")
