<div id="login-box" class="login-box visible widget-box no-border">
  <div class="widget-body">
    <div class="widget-main">
      <h4 class="header blue lighter bigger">
        <i class="icon-coffee green"></i>
        请输入用户名/密码登录系统
      </h4>

      <h5 class="header red">
        <span ng-show="error">{{error}}</span>
      </h5>

      <form novalidate>
        <fieldset>
          <label class="block clearfix">
            <span class="block input-icon input-icon-right">
              <input type="text" ng-model="credential.username" ng-required="true" ng-minlength="3" ng-maxlength="20" class="form-control" placeholder="用户名"/>
              <i class="icon-user"></i>
            </span>
          </label>

          <label class="block clearfix">
            <span class="block input-icon input-icon-right">
              <input type="password" ng-model="credential.password" ng-required="true" ng-minlength="4" ng-maxlength="12" class="form-control" placeholder="密码"/>
              <i class="icon-lock"></i>
            </span>
          </label>

          <div class="space"></div>

          <div class="clearfix">
            <label class="inline">
              <input ng-model="credential.remember" type="checkbox" class="ace"/>
              <span class="lbl"> 一个月内不再重复登录</span>
            </label>

            <button type="button" ng-click="challenge()" class="width-35 pull-right btn btn-sm btn-primary">
              <i class="icon-key"></i>
              登录
            </button>
          </div>

          <div class="space-4"></div>
        </fieldset>
      </form>

      <div class="social-or-login center">
        <span class="bigger-110">或使用其他帐户连接</span>
      </div>

      <div class="social-login center">
        <a class="btn btn-primary">
          <i class="icon-facebook"></i>
        </a>

        <a class="btn btn-info">
          <i class="icon-twitter"></i>
        </a>

        <a class="btn btn-danger">
          <i class="icon-google-plus"></i>
        </a>
      </div>
    </div>
    <!-- /widget-main -->

    <div class="toolbar clearfix">
      <div>
        <a ui-sref="forgot"  class="forgot-password-link">
          <i class="icon-arrow-left"></i>
          忘记密码
        </a>
      </div>

      <div>
        <a ui-sref="signup" class="user-signup-link">
          注册帐户
          <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- /widget-body -->
</div><!-- /login-box -->
