//   authenticate templae
.login-box.visible.widget-box.no-border#login-box(style="width:60%;left:20%")
  .widget-body
    .widget-main
      h4.header.blue.lighter.bigger
        i.icon-coffee.green
        | 请输入用户名/密码登录系统
      h5.header.red
        span(ng-show="error") {{error}}

      form(novalidate): fieldset
        labe.block.clearfix: span.block.input-icon.input-icon-right
          input.form-control(type="text",ng-model="credential.username", ng-required="true", ng-minlength="3", ng-maxlength="20", placeholder="用户名")
          i.icon-user
        labe.block.clearfix: span.block.input-icon.input-icon-right
          input.form-control(type="password",ng-model="credential.password", ng-required="true", ng-minlength="6", ng-maxlength="20", placeholder="密码")
          i.icon-lock
        .space
        .clearfix
          label.inline
            input.ace(ng-model="credential.remember", type="checkbox")
            span.lbl 一个月内不再重复登录
          button(type="button", ng-click="challenge()").width-35.pull-right.btn.btn-sm.btn-primary
            i.icon-key
            | 登录
        .space-4

    .toolbar.clearfix
      div: a.forgot-password-link(ui-sref="forgot")
        //i.icon-arrow-left
        //| 忘记密码
      div: a.user-signup-link(ui-sref="signup")
        | 注册帐户
        i.icon-arrow-right