-var sysName = '<%=sysName%>'
-var styles = [<% styles.forEach( function(file){ print('"' + file + '",') }); %>]
-var scripts = [<% scripts.forEach( function(file){ print('"' + file + '",') }); %>]
doctype html
include /lib/mixins/global
html(ng-app="Itsnow.#{sysName}Index")
  head(lang="zh-CN")
    title(ng-bind="pageTitle")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/icon", href="/assets/favicon.ico")
    each style in styles
      link(rel="stylesheet", type="text/css", href=style)
    each js in scripts
      script(type="text/javascript", src=js)
  body(ng-controller="IndexCtrl", ng-class="system.skin")
    .navbar.navbar-default#navbar
      +check_option('navbar', 'fixed')

      .navbar-container#navbar-container
        .navbar-header.pull-left
          a.navbar-brand(href="javascript:void(0)")
            i.icon-leaf
            | ItsNow {{system.label}}系统 &nbsp;
            small V{{system.version}}
            small.yellow @{{system.builtAt}}

        .navbar-header.pull-right(role="navigation")
          ul.nav.ace-nav
            include /index/parts/tasks
            include /index/parts/notifications
            include /index/parts/messages
            include /index/parts/profile
    // 主体内容
    .main-container#main-container
      +check_option('main-container', 'fixed')
      .main-container-inner
        a.menu-toggler#menu-toggler(href="javascript:void(0)")
          span.menu-text
        .sidebar#sidebar
          +check_option('sidebar', 'fixed')
          include /index/parts/shortcuts
          include /index/parts/menus
          +check_option('sidebar', 'collapsed')

        .main-content
          include /index/parts/breadcrumbs
          .page-content: .row: .col-xs-12: div(ui-view)


      a.btn-scroll-up.btn.btn-sm.btn-inverse(href="java")#btn-scroll-up
        i.icon-double-angle-up.icon-only.bigger-110
    .feedback.alert.alert-block#feedback(style="display:none")
      button.close(type="button")
        i.icon-remove
      span#feedback_content {{feedback.message}}
