include /lib/mixins/list
.datalist
  +toolbar
    +button_group
      +tool_button("incidentsTable.reload()", "refresh", "", "*", "", "")

  +page_table("incidentsTable","selection")
    +row("incident", "mspInstanceId", "selection")(class="editable deletable")
      td(data-title="'故障单号'")
        a(ui-sref="incidents.view(incident)") {{incident.number}}
      td(data-title="'请求人'") {{incident.requesterName}}
      td(data-title="'分类'") {{incident.category | formatDict:categories}}
      td(data-title="'优先级'") {{incident.priority | formatDict:priorities}}
      td(data-title="'故障描述'") {{incident.requestDescription}}
      td(data-title="'状态'") {{incident.mspStatus| formatIncidentStatus}}
      td(data-title="'创建时间'") {{incident.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}
      td(data-title="'关闭时间'") {{incident.closeTime | date:"yyyy-MM-dd HH:mm:ss"}}
      td(data-title="'用户'") {{incident.msuAccountName}}
      td(data-title="'用户状态'") {{incident.msuStatus | formatIncidentStatus}}
                                                