include /lib/mixins/list
.datalist
  +toolbar
    +button_group
      +tool_button("incidentsTable.reload()", "refresh", "", "*", "", "")
      +tool_button("actionService.perform(grab)", "pencil", "抢单", "1", "", "editable")

  +page_table("incidentsTable","selection")
    +row("incident", "msuInstanceId", "selection")(class="editable deletable")
      td(data-title="'故障单号'")
          a(ui-sref="incidents.viewMsu(incident)") {{incident.number}}
      td(data-title="'请求人'") {{incident.requesterName}}
      td(data-title="'MSU实例'") {{incident.msuInstanceId}}
      td(data-title="'分类'") {{incident.category | formatDict:categories}}
      td(data-title="'优先级'") {{incident.priority | formatDict:priorities}}
      td(data-title="'故障描述'") {{incident.requestDescription}}
      td(data-title="'创建时间'") {{incident.createdAt | formatTime}}
      td(data-title="'处理人'") {{incident.assignedUser}}
      td(data-title="'用户'") {{incident.msuAccountName}}
      td(data-title="'用户状态'") {{incident.msuStatus | formatIncidentStatus}}
                                                