//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("基本信息")
  +group("site", "name", "地点名称", "user", "不可重复")
    +input("site", "name")(type="text", readonly=readonly, required, ng-minlength="4", ng-maxlength="20",
       ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/', ng-check="/api/sites/check/{0}", placeholder="地点名称")
  +group("site", "dictionary", "区域", "user", "部门所在区域")
    select#site_area.form-control(ng-model='dictionary', required, ng-options="dictionary.display for dictionary in dictionaries")
  +group("site", "address", "地址", "edit", "部门地址")
    +area("site", "address")(ng-maxlength="100", placeholder="地址信息")
  +group("site", "workTime", "工作时间", "user", "部门工作时间")
    select#site_workTime.form-control(ng-model='workTime', required,
      ng-options="(workTime.name+' '+workTime.startAt+'-'+workTime.endAt) for workTime in workTimes")
  +group("site", "description", "描述", "edit", "部门描述")
    +area("site", "description")(ng-maxlength="100", placeholder="描述文本")
