-var readonly = false

h2 新增 地点

form.form-horizontal(name="newSiteForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="create()")
  include /msp/index/system/sites/_form.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="sites.list")