-var disabled = false
//- include the form mixins
include /lib/mixins/form

h2 新增 地点

+form("newSiteForm")(ng-submit="create()")
  include /msp/index/system/sites/_form.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="sites.list")
