//- include the form mixins
include /lib/mixins/form

+section("批准MSP账户")
  +group("contract", "accounts", "用户", "account", "批准应约的MSP账户")
    div#role_users(multi-select,selection-mode="single", input-model="mspAccounts", button-label="name", item-label="name", tick-property="ticked")
