include /lib/mixins/list

.datalist
  +toolbar
    +button_group
      +tool_button("contractsTable.reload()", "refresh", "", "*", "", "")
    +button_group
      +tool_button("actionService.gotoState('contracts.new', $event)", "plus", "新增", "*", "", "")
      +tool_button("actionService.gotoState('contracts.approve', $event)", "ok", "批准", "1", "", "enable")

  +page_table("contractsTable","selectionService")
    +row("contract", "sn", "selectionService")(ng-class="{'enable':contract.status=='Purposed'}")
      td(data-title="'合同号'")
        a(ui-sref="contracts.view(contract)") {{contract.sn}}
      td(data-title="'状态'") {{contract.status | formatContractStatus}}
      td(data-title="'服务商'")
        span(ng-repeat="mspAccount in contract.mspAccounts")
          span(ng-if="mspAccount.contractStatus=='' || mspAccount.contractStatus==null")
            a(ui-sref="contracts.accounts_view({sn:contract.sn,account_sn:mspAccount.sn})") {{mspAccount.name}}
            span(ng-if="!$last") ,&nbsp;
          span(ng-if="mspAccount.contractStatus=='Approved'")
            a(ui-sref="contracts.accounts_view({sn:contract.sn,account_sn:mspAccount.sn})") {{mspAccount.name}}
      td(data-title="'创建时间'") {{contract.createdAt | formatTime}}
      td(data-title="'更新时间'") {{contract.updatedAt | formatTime}}