//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    disabled : true | false
+section("基本信息")
  +group("department", "parent", "上级部门", "user", "可选")
    div#department_parent(multi-select, selection-mode="single", input-model="parentDepartments", button-label="name",
    item-label="name", tick-property="ticked")
  +group("department", "name", "部门名称", "user", "不可重复")
    +input("department", "name")(type="text", required, ng-minlength="4", ng-maxlength="20", ng-disabled="disabled",
    ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/',ng-check="/api/departments/check/{0}", placeholder="部门名称")
  +group("department", "site", "地点", "user", "可多选")
    div#department_site(multi-select, input-model="sites", button-label="name", item-label="name", tick-property="ticked")
  +group("department", "description", "描述", "edit", "部门说明")
    +area("department", "description")
