include /lib/mixins/list

.datalist
  +toolbar
    +button_group
      +tool_button("departmentsTable.reload()", "refresh", "", "*", "", "")
    +button_group
      +tool_button("actionService.gotoState('departments.new')", "plus", "新增", "*", "", "")
      +tool_button("actionService.gotoState('departments.edit')", "pencil", "修改", "1", "", "editable")
    +more_buttons
      +drop_button("actionService.perform(destroy)", "trash", "删除", "1+", "", "deletable")

  +common_table("departmentsTable","selection")
    +row("department", "sn", "selection")(class="editable deletable")
      td(data-title="'部门名称'")
        a(ui-sref="departments.view(department)") {{department.name}}
      td(data-title="'地点'") {{department.sites | deptFilter}}
      td(data-title="'描述'") {{department.description}}