<!--这个目录不需要放到classpath下，应用程序应该主动配置logback，让其使用该对象-->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <property resource="config/now.properties" />

    <include resource="logback-basic.xml"/>

    <appender name="Rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/itsnow.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/itsnow.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{0}.%method - %X{rule} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Rolling" />
    </root>

    <logger name="dnt.itsnow" level="DEBUG" />
    <logger name="dnt.itsnow.platform.web.support.ExtendedRequestMappingHandlerMapping" level="INFO" />
    <logger name="dnt.itsnow.demo.repository" level="INFO" />
    <logger name="net.happyonroad.spring.service.SpringServicePackage" level="INFO" />
    <logger name="dnt.itsnow.platform.web.support.ExtendedRequestMappingHandlerMapping" level="WARN" />

</configuration>
