.row
  .space-6
  .col-sm-7.infobox-container
    include /index/dashboard/summary
  .vspace-sm
  .col-sm-5
    include /index/dashboard/trafic-sources
.hr.hr32.hr-dotted
.row
  .col-sm-5
    include /index/dashboard/popular-domains
  .col-sm-7
    include /index/dashboard/sales-stats
.hr.hr32.hr-dotted
  .row
    .col-sm-6
      include /index/dashboard/recents
    .col-sm-6
      include /index/dashboard/conversation
