-var readonly = false
h2 编辑 组

form.form-horizontal(name="editGroupForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="update()")
  include /msp/index/system/groups/_form.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="dicts.list")