-var readonly = false

h2 新增 工作时间
include /lib/mixins/form
+form("createWorkTimeForm")(ng-submit="create()")
  include /general/index/system/worktimes/_form.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="worktimes.list")