//   Main container parts: menu component

// 这个mixin是angular在运行时进行模板替换，并不是jade在编译期进行jade -> html变换

mixin menu_item_content
  i.icon-double-angle-right(class="{{menuItem.css}}", ng-if="menuItem.parentId")
  i(class="{{menuItem.css}}", ng-if="!menuItem.parentId")
  span.menu-text {{menuItem.name}}

mixin menu_item_iteration(variableName)
  li(ng-repeat="menuItem in #{variableName}", ng-include="'menu-item-template'")

mixin menu_item_template
  a(ui-sref="{{menuItem.state}}", ng-if="!menuItem.children")
    +menu_item_content
  a.dropdown-toggle(href="#", ng-if="menuItem.children")
    +menu_item_content
    b.arrow.icon-angle-down
  ul.submenu(ng-if="menuItem.children")
    +menu_item_iteration('menuItem.children')

ul.nav.nav-list(ng-controller="MenuCtrl")
  +menu_item_iteration('topMenuItems')
.sidebar-collapse#sidebar-collapse
  i.icon-double-angle-left(data-icon1="icon-double-angle-left", data-icon2="icon-double-angle-right")

script(type="text/ng-template")#menu-item-template
  +menu_item_template
