//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("字典基本信息")
  +group("dict","code","字典代码", "star", "")
    +input("dict","code")(type="text",required,ng-disabled="updateview" ,ng-check="/api/dictionaries/checkCode/{0}",ng-pattern="/^[a-zA-Z0-9]|_|\-|\.]+$/")
  +group("dict","name","字典名称", "star", "")
    +input("dict","name")(type="text",required,ng-check="/api/dictionaries/checkname/{0}")
  +group("dict","label","显示名", "star", "")
    +input("dict","label")(type="text",required,ng-check="/api/dictionaries/checklabel/{0}")
  +group("dict", "description", "字典描述", "edit", "")
    +area("dict", "description")(readonly=readonly)
br
+section("字典项信息")
  #newcontent
    #create1.form-group.has-info
      +dictName("名称")(ng-model="dictName")
      +dictValue("值","*必填项*")(ng-model="dictValue")
    script(src='/lib/mixins/form.js')
  .col-md-4.col-md-offset-5
    button(type="button",onclick="add()") 添加字典项




