-var readonly = false

h2 新增 字典

form.form-horizontal(name="newDictForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="create()")
  include /index/service/dicts/_form.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="dicts.list")
