//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("基本信息")
  +group("sla", "title", "名称", "star", "SLA显示名称")
    +input("sla", "title")(readonly=readonly)
  +group("sla", "description", "描述", "star", "SLA说明")
    +area("sla", "description")(readonly=readonly)
+section("相关成员")
  +group("sla", "slos", "目标", "star", "SLO(s)")
    +input("sla", "slos")(readonly=readonly)
