//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    disabled : true | false
+section("基本信息")
  +group("role", "name", "角色名称", "user", "角色名")
    +text("role", "name")(ng-disabled="disabled", required, ng-minlength="2", ng-maxlength="20", ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/', ng-check="/api/roles/check/{0}", placeholder="角色名")
  +group("role", "users", "用户", "user", "此角色所包含的用户")
    div#role_users(multi-select, input-model="users", button-label="username", item-label="username", tick-property="ticked")
  +group("role", "description", "描述", "edit", "角色说明")
    +area("role", "description")
