include /lib/mixins/list

.datalist
  +toolbar
    +button_group
      +tool_button("rolesTable.reload()", "refresh", "", "*", "", "")
    +button_group
      +tool_button("actionService.gotoState('roles.new', $event)", "plus", "新增", "*", "", "")
      +tool_button("actionService.gotoState('roles.edit', $event)", "pencil", "修改", "1", "", "editable")
    +more_buttons
      +drop_button("actionService.perform(destroy, $event)", "trash", "删除", "1+", "", "deletable")

  +page_table("rolesTable","selectionService")
    +row("role", "name", "selectionService")(class="editable deletable")
      td(data-title="'角色名'")
        a(ui-sref="roles.view(role)") {{role.name}}
      td(data-title="'用户名称'") {{role.users | colFilter}}
      td(data-title="'描述'") {{role.description}}
