include /lib/mixins/list
.container
	+toolbar
		+button_group
			+tool_button("dictTable.reload()", "refresh", "", "*", "", "")
		+button_group
			+tool_button("actionService.gotoState('dicts.new', $event)", "plus", "新增", "*", "", "")
			+tool_button("actionService.gotoState('dicts.edit', $event)", "pencil", "修改", "1", "", "editable")
		+more_buttons
			+drop_button("actionService.perform(destroy, $event)", "trash", "删除", "1+", "", "deletable")
	+page_table("dictsTable","selection")
		+row("dict", "sn", "selection")(class="editable deletable")
			td(data-title="'字典代码'")
				a(ui-sref="dicts.view(dict)") {{dict.code}}
			td(data-title="'字典名称'") {{dict.name}}
			td(data-title="'展示'") {{dict.display}}
			td(data-title="'值'") {{dict.val}}
			td(data-title="'状态'") {{dict.state|stateFilter}}