
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("用户基本信息")
  +group("cuser","username","用户名", "user", "至少两个字符")
    +input("cuser","username")(type="text",required,ng-disabled="updateview", ng-maxlength="20",ng-minlength="2",ng-check="/api/users/check/{0}",ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/')
  +group("cuser","nickName","用户昵称","user", "用户昵称")
    +input("cuser","nickName")(type="text",required, ng-maxlength="20",ng-minlength="2")
  div(ng-if="createview")
    +group("cuser","emial",  "电子邮箱","envelope", "邮箱格式如admin@qq.com")
      +input("cuser","email")(type="email",ng-disabled="updateview",required,ng-check="/api/users/checkEmail/{0}")
  div(ng-if="updateview")
    +group("cuser","emial",  "电子邮箱","envelope", "邮箱格式如admin@qq.com")
      +input("cuser","email")(type="email",ng-check="/api/users/{0}/{{cuser.username}}/checkEmail")
  +group("cuser","phone",  "电话号码",   "headphones", "固话或手机号码")
    +input("cuser", "phone")(type="text",required,ng-pattern='/^1[0-9]+$/')
  div(ng-if="createview")
    +group("cuser","password","用户密码","lock","至少6位")
      +input("cuser","password")(type="password",ng-required="{{createview}}" ,ng-maxlength="20",ng-minlength="6")
    +group("cuser","repeatPassword","重复密码","retweet","至少6位")
      +input("cuser","repeatPassword")(type="password",pw-check="cuser_password",ng-required="{{createview}}",ng-maxlength="20",ng-minlength="6")
  div(ng-if="updateview")
    +group("cuser", "enabled", "是否启用", "", "选择")
      +select("cuser","enabled")(ng-options="data.state as data.name for data in statedatas")
