-var readonly = false
-var editReadonly = false
include /lib/mixins/form
h2 新增 服务目录

+form("newCatalogForm")(ng-submit="create()")
  include /msu/index/service/catalog/_form_catalog.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="catalog.private.list")