//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    disabled : true | false
+section("基本信息")
  +group("staff", "no", "工号", "user", "员工编号")
    +input("staff", "no")(type="text", ng-disabled="disabled", required, ng-minlength="2", ng-maxlength="20",
       ng-pattern='/^([a-zA-Z0-9]|_|\\-|\\.)+$/', ng-check="/api/staffs/check/{0}", placeholder="工号")
  +group("staff", "name", "员工名称", "user", "员工姓名")
    +input("staff", "name")(type="text", required, ng-minlength="2", ng-maxlength="20",
       ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/', placeholder="名称")
  +group("staff", "title", "职务", "user", "员工职务")
    +input("staff", "title")(type="text", required, ng-minlength="2", ng-maxlength="20",
       ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/', placeholder="职务名称")
  +group("staff", "site", "地点", "", "员工所在地")
    select#staff_site.form-control(ng-model='site', required, ng-options="site.name for site in sites")
  +group("staff", "department", "部门", "", "员工所在部门")
    select#staff_dept.form-control(ng-model='department', required, ng-options="department.name for department in departments")
  +group("staff", "email", "邮箱", "envelope-alt", "员工邮箱")
     +input("staff", "email")(type="email", required, ng-minlength="2", ng-maxlength="20", placeholder="email")
  +group("staff", "fixedPhone", "电话", "phone", "员工固定电话")
     +input("staff", "fixedPhone")(type="text", required, ng-minlength="7", ng-maxlength="20", ng-pattern='/^[0-9\\-\\(\\)]+$/', placeholder="固定电话")
  +group("staff", "mobilePhone", "手机", "phone", "员工手机号码")
     +input("staff", "mobilePhone")(type="text", required, ng-minlength="11", ng-maxlength="20", ng-pattern='/^1[0-9]+$/', placeholder="手机号码")
  +group("staff", "checkbox", "", "", "")
    label
      input#staff_checkbox.ace(type='checkbox', ng-model="checked")
      span.lbl  可登录
  div#register(ng-show="checked")
    +group("staff_user", "name", "用户名", "user", "登录账号")
       +input("staff_user", "name")(type="text", ng-required="checked", ng-minlength="4", ng-maxlength="20",
         ng-pattern='/^([a-zA-Z0-9]|_|\\-|\\.)+$/', ng-check="/api/roles/check/{0}", ng-disabled="disabled", placeholder="登录名")
    +group("staff_user", "password", "密码", "lock", "登录密码")
       +input("staff_user", "password")(type="text", ng-required="checked", ng-minlength="4", ng-maxlength="20", ng-disabled="disabled")
    +group("staff_user", "repeatPassword", "确认密码", "lock", "重复密码")
       +input("staff_user", "repeatPassword")(type="text", ng-required="checked", ng-minlength="4", ng-maxlength="20", ng-disabled="disabled")
  +group("staff", "description", "描述", "edit", "员工描述")
    +area("staff", "description")(ng-maxlength="100", placeholder="描述文本")
