-var readonly = false
-var disabled_type = ""
-var display = "hidden"
//- include the form mixins
include /lib/mixins/form

h2 编辑 主机

+form("editHostForm")(ng-submit="update()")
  include /msc/index/hosts/_form.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="hosts.list")
