//   New dict
doctype html
.row(ng-controller="WorkTimeNewCtrl")
  form.form-horizontal(name="workForm", novalidate, role="form")
    .form-group
      label.col-xs-12.col-sm-3.control-label.no-padding-right(for="workdates") 工作日：
      .col-xs-12.col-sm-5
        .row
           .col-xs-12
             span(ng-repeat="workdate in workdates")
               input(type="checkbox" ,id="{{workdate.id}}",ng-checked="selection.indexOf(workdate.name)>-1",ng-click="toggleSelection(workdate.name)")
               {{workdate.name}}
    .form-group
      label.col-xs-12.col-sm-3.control-label.no-padding-right(for="worktimes") 工作时间：
      .col-xs-12.col-sm-5
        span.input-icon
           input.form-control(id="worktime_startime", name="worktime_startAt", ng-model="worktime.startAt",type='text')
           i.icon-leaf.blue
        span.input-icon.input-icon-right
          input.form-control(id="worktime_endAt", name="worktime_endAt", ng-model="worktime.endAt",type="text")
          i.icon-leaf.green
      .help-block.col-xs-12.col-sm-reset.inline #{tip}
    .form-group
      label.col-xs-12.col-sm-3.control-label.no-padding-right(for="_description") 描述：
      .col-xs-12.col-sm-5
        span.block.input-icon.input-icon-right
          input.form-control(id="worktime_description", name="worktime_description", ng-model="worktime.description",type="text", placeholder="请输入描述",required)
      .help-block.col-xs-12.col-sm-reset.inline #{tip}
    .row-fluid.actions
      .col-xs-12.col-sm-3
      .col-xs-12.col-sm-5
        button.btn.btn-sm.btn-primary(ng-click="changeWorkTime()")
          i.icon-ok
          | 保存
        button.btn.btn-sm.btn-primary(type="reset")
          i.icon-ok
          | 重置

