-var readonly = false
//- include the form mixins
include /lib/mixins/form

h2 编辑 数据库

+form("editSchemaForm")(ng-submit="update()")
  include /msc/index/schemas/_form.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="schemas.list")
