-var readonly = false

h2 新增 数据库

form.form-horizontal(name="newSchemaForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="create()")
  include /msc/index/schemas/_form.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="schemas.list")