//   Index.jade parts: Profile
mixin profile_link(text, icon, action)
  li
    a(href="#", ng-click=action)
      i(class="icon-#{icon}")
      | #{text}

li.light-blue(ng-controller="IndexCtrl")
  a.dropdown-toggle(data-toggle="dropdown", href="#")
    img.nav-user-photo(src="assets/user.jpg", alt="Jason's Photo")
    span.user-info
      small 欢迎,
      | {{user.username}}
    i.icon-caret-down
  ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
    +profile_link("设置", "cog", "")
    +profile_link("个人资料", "user", "")
    li.divider
    +profile_link("注销", "off", "logout")
