.container(ng-controller="DetailCtrl")

  p.lead ID:{{ userId }}
  p.lead UserName:userName
  p.lead NickName:nickName
  p.lead Email:email
  p.lead Phone:phone
  p.lead Enabled:enabled
  p.lead Expired:expired
  p.lead Locked:locked
  p.lead CreateAt:createAt
  p.lead UpdateAt:updateAt
