include /lib/mixins/list
.datalist
    +toolbar
        +button_group
            +tool_button("tableParams.reload()", "refresh", "", "*", "", "")
        +button_group
            +tool_button("actionService.perform(update)", "pencil", "设置", "*", "", "")
        +button_group
            +tool_button("actionService.gotoState('catalog.private.list')", "edit", "私有服务", "", "", "")
        +more_buttons
    +common_table("tableParams","selection")
        tbody(ng-repeat="catalog in $data")
            tr(value="{{catalog.sn}}",class="editable deletable catalog")
                td(width="30", align="left", header="'ngTableCheckboxHeader'")
                    input(type="checkbox",ng-model="selection.items[catalog.sn]")
                td(data-title="'图标'")
                    img(ng-src="{{catalog.icon}}")
                td(data-title="'编号'")
                    a(ui-sref="catalog.public.view({sn:catalog.sn})"){{catalog.sn}}
                td(data-title="'标题'") {{catalog.title}}
                td(data-title="'描述'") {{catalog.description}}
            tr(ng-repeat="item in catalog.items",value="{{item.sn}}",class="editable deletable item")
                td(width="30", align="left", header="'ngTableCheckboxHeader'")
                    input(type="checkbox" ng-model="selection.items[item.sn]")
                td(data-title="'图标'")
                    img(ng-src="{{item.icon}}")
                td(data-title="'编号'")
                    a(ui-sref="catalog.public.view_item({sn:catalog.sn,isn:item.sn})"){{item.sn}}
                td(data-title="'标题'") {{item.title}}
                td(data-title="'描述'") {{item.description}}
