-var readonly = true
-var editReadonly = true
include /lib/mixins/form
h2 查看 服务目录

.form-horizontal
  include /msu/index/service/catalog/_form_catalog.jade
  +action_bar
    +action_submit("返回")(ui-sref="catalog.public.list")
                    