-var readonly = false
-var editReadonly = true
//- include the form mixins
include /lib/mixins/form
h2 编辑 服务目录

+form("editCatalogForm")(ng-submit="update()")
  include /msc/index/service/catalog/_form_catalog.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="catalog.list")
