-var disabled = true
//- include the form mixins
include /lib/mixins/form
h2 编辑 员工

+form("editStaffForm")(ng-submit="update()")
  include /msu/index/system/staffs/_form.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="staffs.list")
