-var disabled = false
//- include the form mixins
include /lib/mixins/form

h2 新增 员工

+form("newStaffForm")(ng-submit="create()")
  include /msu/index/system/staffs/_form.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="staffs.list")
