//- include the form mixins
include /lib/mixins/form
h2 编辑 地点

+form("editSiteForm")(ng-submit="update()")
  include /msu/index/system/sites/_form.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="sites.list")
