-var readonly = false

h2 新增用户

form.form-horizontal(name="newUserForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="create()")
  include /msp/index/system/users/_form.jade
  +group("password","用户密码","lock","")
    +input("password","用户密码")(type="password",required,ng-maxlength="20",ng-minlength="6")
  +input("repeatPassword","重复密码","retweet","")
    +field("repeatPassword","重复密码")(type="password",required,ng-maxlength="20",ng-minlength="6",ng-blur="")
  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="users.list")