include /lib/mixins/list

.container
  +toolbar
    +button_group
      +tool_button("dictTable.reload()", "refresh", "", "*", "", "")
    +button_group
      +tool_button("actionService.gotoState('dict.new')", "plus", "新增", "*", "", "")
      +tool_button("actionService.gotoState('dict.edit')", "pencil", "修改", "1", "", "editable")
    +more_buttons
      +drop_button("actionService.perform(destroy)", "trash", "删除", "1+", "", "deletable")

  +list_table("dictTable","selection")
    +row("dict", "id", "selection")(class="editable deletable")
      td(data-title="字典代码")
        a(ui-sref="dict.view(dict)") {{dict.code}}
      td(data-title="字典名称") {{dict.name}}
      td(data-title="字典展示") {{dict.display}}


