-var readonly = false
h2 编辑 字典

form.form-horizontal(name="editDictForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="update()")
  include /index/service/dicts/editForm.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="dicts.list")