include /lib/mixins/list
.container
	+toolbar
		+button_group
			+tool_button("dictsTable.reload()", "refresh", "", "*", "", "")
		+button_group
			+tool_button("actionService.gotoState('dicts.new', $event)", "plus", "新增", "*", "", "")
			+tool_button("actionService.gotoState('dicts.edit', $event)", "pencil", "修改", "1", "", "editable")
		+more_buttons
			+drop_button("actionService.perform(destroy, $event)", "trash", "删除", "1+", "", "deletable")
	+page_table("dictsTable","selectionService")
		+row("dict", "code", "selectionService")(class="editable deletable")
			td(data-title="'字典代码'")
				a(ui-sref="dicts.view(dict)") {{dict.code}}
			td(data-title="'字典名称'") {{dict.name}}
			td(data-title="'字典项'") {{dict.details | detailFilter}}
