
h2 修改密码
include /lib/mixins/form
+form("editUserPwdForm")(ng-submit="updatePwd()")
  +section("用户基本信息")
    +group("user","username","用户姓名", "user", "")
      +input("user","username")(type="text",required,ng-disabled="true", ng-maxlength="20",ng-minlength="4")
    +group("changePasswordRequest","oldPassword","原用户密码","lock","")
      +input("changePasswordRequest","oldPassword")(type="password",ng-maxlength="20",ng-minlength="6",ng-check="/admin/api/users/{0}/{{user.username}}/checkPwd",err-type="pwError")
    +group("changePasswordRequest","password","用户新密码","lock","")
      +input("changePasswordRequest","password")(type="password",ng-maxlength="20",ng-minlength="6")
    +group("changePasswordRequest","repeatPassword","确认新密码","retweet","")
      +input("changePasswordRequest","repeatPassword")(type="password",ng-maxlength="20",ng-minlength="6",pw-check="changePasswordRequest_password")
  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="users.list")