-var readonly = false
h2 编辑密码
include /lib/mixins/form
+form("editUserPwdForm")(ng-submit="update()")
  +section("用户基本信息")
    +group("cuser","username","用户姓名", "user", "")
      +input("cuser","username")(type="text",required,ng-disabled="true", ng-maxlength="20",ng-minlength="4")
    +group("cuser","password","原用户密码","lock","")
      +input("cuser","password")(type="password",ng-maxlength="20",ng-minlength="6",ng-required="")
    +group("cuser","password","用户新密码","lock","")
      +input("cuser","password")(type="password",ng-maxlength="20",ng-minlength="6",ng-required="")
    +group("cuser","repeatPassword","确认新密码","retweet","")
      +input("cuser","repeatPassword")(type="password",ng-maxlength="20",ng-minlength="6",pw-check="cuser_password",ng-required="{{createview}}")
  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="users.list")