<div class="page-content">

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <ng-form name="newContractForm" class="form-horizontal" role="form" ng-controller="CreateContractCtrl">

            <div class="form-group has-info">
                <div class="col-sm-6">

                    <label class="col-sm-3 control-label no-padding-right" for="sn"> 合同号 </label>

                    <div class="col-sm-9">
                        <input type="text" id="sn" name="sn" ng-model="contract.sn" required placeholder="例如：P001" class="form-control" />
                        <span ng-show="newContractForm.sn.$error.required">必填!</span>
                    </div>

                </div>
                <div class="col-sm-6">

                    <label class="col-sm-3 control-label no-padding-right" for="msuStatus"> 合同状态 </label>

                    <div class="col-sm-9">
                        <select id="msuStatus" ng-model="contract.msuStatus" class="form-control">
                            <option value="Draft"> 邀约 </option>
                        </select>
                    </div>

                </div>

            </div>





            <div class="form-group row has-info">

                <div class="col-sm-offset-1 col-sm-11">
                    <label for="serviceCatalog">服务目录</label>

                    <select id="serviceCatalog" multiple class="form-control" required>
                        <option>Hardware</option>
                        <option>Software</option>
                        <option>MA</option>
                        <option>MS</option>
                        <option>PS</option>
                    </select>
                    <span ng-show="newContractForm.serviceCatalog.$error.required">必填</span>
                </div>

            </div>

            <div class="hr hr-24"></div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-1 col-md-11">
                    <button class="btn btn-info" type="submit" ng-click="createContract(contract)" ng-disabled="newContractForm.$invalid">
                        <i class="icon-ok bigger-110"></i>
                        新建
                    </button>
                </div>
            </div>

        </ng-form>

    </div><!-- /.col -->
</div><!-- /.row -->

</div><!-- /.page-content -->