-var readonly = false
h2 编辑 工作时间

form.form-horizontal(name="editSlaForm", novalidate="novalidate", role="form", ng-submit="update()")
  include /general/index/system/worktimes/_form.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="worktimes.list")