mixin fieldGroup(title,help)
    .form-group.has-info(ng-class!=attributes.ngClass, ng-hide!=attributes.ngHide, ng-show!=attributes.ngShow)
        label.col-xs-12.col-sm-3.control-label.no-padding-right(for!=attributes.for) #{title}
        .col-xs-12.col-sm-5(class!=attributes.class)
            block
        .help-block.col-xs-12.col-sm-reset.inline #{help}

.row
    .col-xs-12(ng-controller='DeptCtrl')
        .row-fluid
            .span12
                .widget-box
                    div.widget-header.widget-header-blue.widget-header-flat
                        h4.lighter 部门表单
                    .widget-body
                        .widget-main
                            form.form-horizontal(role='form', novalidate="novalidate", name='deptForm', ng-submit='submit(department)')
                                +fieldGroup("上级部门","可选")(for="dept_parent")
                                    span.block.input-icon.input-icon-right
                                        div#dept_parent(multi-select, selection-mode="single", input-model="parentDepartments", button-label="name", item-label="name", tick-property="ticked")
                                        i.icon-group
                                +fieldGroup("部门名称","不可重复")(for="dept_name")
                                    span.block.input-icon.input-icon-right
                                        input.form-control#dept_name(name="dept_name", ng-model='department.name', required, ng-minlength="4",
                                        ng-maxlength="20", ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/', ng-readonly="false",
                                        ng-check="/api/departments/check/{0}", type="text", placeholder="部门名称")
                                        i.icon-user
                                        input.form-control#dept_name_other(name="dept_name_other", ng-model='department.name', ng-readonly="true", type="text", style="dispaly:none;")
                                        i.icon-user
                                +fieldGroup("地点","可多选")(for="dept_site")
                                    span.block.input-icon.input-icon-right
                                        div#dept_site(multi-select, input-model="sites", button-label="name", item-label="name", tick-property="ticked")
                                        i.icon-home
                                +fieldGroup("描述","对此部门的相关描述")(for="dept_desc")
                                    span.block.input-icon.input-icon-right
                                        textarea.form-control.limited#dept_desc(name="dept_desc", ng-model='department.description', ng-maxlength="100", placeholder="描述文本")
                                        i.icon-edit
                                .clearfix.form-actions
                                    .col-md-offset-3.col-md-9
                                        button.btn.btn-info#submit(type='submit', ng-disabled="submited")
                                            i.icon-ok.bigger-110
                                            | 提交
                                        button.btn(type='button', ng-click="cancel()")
                                            i.icon-undo.bigger-110
                                            | 取消