//- include the form mixins
include /lib/mixins/form

+section("基本信息")
  +group("workflow", "name", "名称", "user", "流程名称")
    +text("workflow", "name")(required, ng-minlength="2", ng-maxlength="20",
    ng-pattern='/^[\u4e00-\u9fa5_a-zA-Z0-9\\-\\.]+$/', ng-check="/api/workflows/{0}/check", placeholder="流程名称", ng-disabled="checked")
  +group("workflow", "type", "类型", "", "此流程类型")
    select#workflow_type.form-control(ng-model='dictionary', required, ng-options="detail.key for detail in dictDetails")
  +group("workflow", "service_catalog", "服务目录", "book", "流程所在的服务目录")
    div#workflow_servicecatalog(multi-select, required, selection-mode="single", input-model="serviceCatalogs", button-label="title",
    item-label="title", tick-property="ticked", group-property="multiSelectGroup", disable-property="checkboxDisabled")
  +group("workflow", "file", "配置文件", "", "上传部署工作流文件")(ng-if="!checked")
    +file("workflow", "file")(ng-file-select="onFileSelect($files)", onclick="this.value=null", ng-if="!checked")
  +group("workflow", "description", "描述", "edit", "说明")
    +area("workflow", "description")
