//- include the form mixins
include /lib/mixins/form

h2 编辑 流程

+form("editWorkflowForm")(ng-submit="update()", enctype="multipart/form-data")
  include /msu/index/service/workflows/_form.jade

  +action_bar
    +action_submit("更新")
    +action_cancel("取消")(ui-sref="workflows.list")