//- include the form mixins
include /lib/mixins/form

h2 新增 流程

+form("newWorkflowForm")(ng-submit="create()", enctype="multipart/form-data")
  include /msu/index/service/workflows/_form.jade

  +action_bar
    +action_submit("创建")
    +action_cancel("取消")(ui-sref="workflows.list")