//   Main container parts: breadcrumbs

.breadcrumbs#breadcrumbs
  +check_option('breadcrumbs', 'fixed')
  ul.breadcrumb
    li
      i.icon-home.home-icon
      a(href="#") 首页
    li: a(href="#") 其他
    li.active 空白

