doctype html
mixin check_option(key, value)
  script(type="text/javascript").
    try{
      ace.settings.check('#{key}', '#{value}')
    }catch(e){
    }

.main-container#main-container
  +check_option('main-container', 'fixed')
  .main-container-inner
    a.menu-toggler#menu-toggler(href="#")
      span.menu-text
    .sidebar#sidebar
      +check_option('sidebar', 'fixed')
      include shortcuts
      include menus
      +check_option('sidebar', 'collapsed')

    .main-content
      include breadcrumbs
      .page-content: .row: .col-xs-12: div(ui-view)

    include page_settings

  a.btn-scroll-up.btn.btn-sm.btn-inverse(href="#")#btn-scroll-up
    i.icon-double-angle-up.icon-only.bigger-110
