include /lib/mixins/list

.datalist
  +toolbar
    +button_group
      +tool_button("slasTable.reload()", "refresh", "", "*", "", "")
    +button_group
      +tool_button("actionService.gotoState('slas.new', $event)", "plus", "新增", "*", "", "")
      +tool_button("actionService.gotoState('slas.edit', $event)", "pencil", "修改", "1", "", "editable")
    +more_buttons
      +drop_button("actionService.perform(destroy, $event)", "trash", "删除", "1+", "", "deletable")

  +page_table("slasTable","selectionService")
    +row("sla", "id", "selectionService")(class="editable deletable")
      td(data-title="'名称'")
        a(ui-sref="slas.view(sla)") {{sla.title}}
      td(data-title="'描述'") {{sla.description}}
      td(data-title="'SLOs'") SLOs
